.metadata
*.class
*.cache.*
*.nocache.js
*.devmode.js
compilation-mappings.txt
gwt-unitCache-*
*.symbolMap
*/*/build/*
*/*/bin/*
*/*/.gwt/.gwt-log
*/*/war/WEB-INF/classes/*
*/*/war/WEB-INF/deploy/*
*/*/war/bprsadmin/*
*/*/war/bprsconfig/*
*/*/war/bprscs/*
*/*/war/bprshost/*
*/*/war/bprsloan/*
*/*/war/bprssecurity/*
*/*/war/bprsteller/*
*/*/war/bprsloanreportviewer/*
*/*/war/bprsreportingviewer/*
*/*/war/dashboardviewer/*
*/*/war/koperasiwar/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
