<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- Servlets -->
	<servlet>
		<servlet-name>systemServlet</servlet-name>
		<servlet-class>org.kembang.module.server.SystemServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>systemServlet</servlet-name>
		<url-pattern>/bprsconfig/system</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.simbiosis.bprs.ui.config.server.AppServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/bprsconfig/config</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>BprsConfig.html</welcome-file>
	</welcome-file-list>
</web-app>