<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
	<servlet>
		<servlet-name>systemServlet</servlet-name>
		<servlet-class>org.kembang.module.server.SystemServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>systemServlet</servlet-name>
		<url-pattern>/bprsteller/system</url-pattern>
	</servlet-mapping>

 	<servlet>
		<servlet-name>micBankCommServlet</servlet-name>
		<servlet-class>org.simbiosis.ui.bprs.common.server.MicBankServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>micBankCommServlet</servlet-name>
		<url-pattern>/bprsteller/micbankcomm</url-pattern>
	</servlet-mapping>
  
 	<servlet>
		<servlet-name>tellerServlet</servlet-name>
		<servlet-class>org.simbiosis.ui.bprs.teller.server.AppServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tellerServlet</servlet-name>
		<url-pattern>/bprsteller/teller</url-pattern>
	</servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>BprsTeller.html</welcome-file>
  </welcome-file-list>

</web-app>
